.type-135{
    background-image: url('../images/bg_pattern.png');
    @padding:1.5rem;
    @display:table-cell;
    @vertical_align:middle;
    @font_style:italic;
    @font_size:1.5rem;
    @border_style:solid;
    @sm-768: 768px;
    .prof_profile {
        margin-top: 5.5rem;     
        background: #fff;
        a {
            position: relative;
            display: inline-block;

            /* Sử dụng mặt nạ là chính bức ảnh .png để che đi những phần không muốn hiển thị: */
            -webkit-mask: url(../images/VoThanhTrung.jpg) center center;
            img{
                max-width: 100%;
                width: 100%;
            }
            &:after{
                content: '';
                position: absolute;
                pointer-events: none;
                top: -110%;
                left: -210%;
                width: 200%;
                height: 200%;
                opacity: 0;
                transform: rotate(0deg);
              
                background: linear-gradient(
                    to right, 
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 77%,
                    rgba(255, 255, 255, 0.5) 92%,
                    rgba(255, 255, 255, 0.0) 100%
                    );
            }
            &:hover:after{
                opacity: 1;
                top: -20%;
                left: -30%;
                transition-property: left, top, opacity;
                transition-duration: .8s, .8s, .15s;
                transition-timing-function: ease;
            }
        }
        .prof_ide {
            background: #f5ce31;            
            position: relative;
            .prof_fullname {
                font-weight: 800;
                text-transform: capitalize;
                border-right: 0.1rem #333 @border_style;
                display: @display;
                vertical-align: @vertical_align;
                padding-right: @padding;
            }
            .prof_title {
                display: @display;
                vertical-align: @vertical_align;
                text-transform: uppercase;
                font-style: @font_style / 2;
                padding-left: @padding;
            }
            &:before{
                content: "";
                position: absolute;
                top: 100%;
                left: 3rem;
                border-width: 1.2rem 1.2rem 0;
                border-style: @border_style;
                border-color: #f5ce31 transparent;
                display: block;
                width: 0;
            }
        }
        .prof_contact {
            padding: @padding*2;
            font-style: @font_style / 2;
            .prof_dep {
                font-weight: bold;
                font-size: @font_size;
            }
            .inf-contact{
                padding-top:2rem;
                .inf{
                    padding:0.5rem 0;
                }
            }
        }
        .crossedbg {
            background: url(../images/bg_cr_grey.png);
            height: 1.5rem;
        }
    }


    .col-md-8, .col-md-4{
        padding-left: @padding*0;
        padding-right: @padding*0;
    }
    /*-------REPONSIVE----------*/
    @media (min-width: @sm-768){       
        .profile{
            width: 96rem;
            padding: @padding*0;
            .prof_ava {
                padding-left: @padding;
            }
            .prof_info{
                padding-right: @padding;
                .prof_ide {
                    padding: 3rem;
                    .prof_fullname {
                        font-size: @font_size + 0.5;
                    }
                    .prof_title {
                        font-size: @font_size;
                    }
                }
            }
        }
    }
    @media (max-width: @sm-768){
        .prof_ide {
            padding: @padding;
            .prof_fullname {
                font-size: @font_size;
            }
            .prof_title {
                font-size: @font_size - 0.5;
            }
        }
        .employees{
            padding: @padding*0;
        }
    }
    /*-------END REPONSIVE----------*/
}

