 @import "../../var/var.less";
.type-143{
    background-image: url('../images/bg_pattern.png');
    overflow: hidden;
    .news{width: 96rem; padding: 0;}
    .top_news_block{
        margin-top: 5.5rem;
        background: @color_white;
        .thumb{
            a{
                -webkit-mask: url(../images/news-3.jpg) @align @align;
                .hover-img;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .top_news_block_desc {
            font-size: @font_size - 0.5 ;
            padding: 1.5rem;
            h4 {              
                text-transform: uppercase;
                font-size: @font_size ;
                font-weight: bold;
            }
            .topnewstime {
                margin-top: @margin - 0.3;
                text-align: @align;
                padding-left: 0;
                .topnewsdate {
                    font-family: 'Prata', serif;
                    font-size: @font_size + 2.5;
                    line-height: 2rem;
                    margin-left: @margin;
                }   
                .topnewsmonth {
                    text-transform: uppercase;
                    font-size: @font_size - 0.25;
                    margin-left: @margin;
                }
            }
            .shortdesc {
                border-left: 0.1rem solid #666;
                a{
                    color:lightslategrey;
                    &:hover{
                        text-decoration: none;
                        color:@color_Cylindrical_coordinate;
                        transition: all 0.5s ease;
                    }
                }
            }
            .topnewsmonth, p{
                color: #333;
                font-size: @font_size - 0.25;
            }
        }
    }
    /*----Reponsive----*/
    @media (max-width: @lg-1200){
        .top_news_block {
            margin-top: 0;
        }
    }
    @media (max-width: @xs-480){
        .news{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: @md-992){
        .row {
            margin-left: -@margin !important;
            margin-right: -@margin !important;
        }
    }
    @media (max-width: @sm-768){
        .news{width: auto;}
    }

}
