.type-137{
    @color_hover: #2a6496;
    @color_border_gray: #d9d9d9;
    @font-size: 1rem;
    @padding :1rem;
    background: url(../images/bg_pattern.png) repeat;
    font-family: 'Open Sans', sans-serif;

    a:hover, a:focus {
        color: @color_hover;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .event{
        padding: 0;
    }
    .eventlocation {
        font-size: @font-size+0.2;
    }
    /*------------------GENERAL--------------------*/
    .panel {
        background: none;
        box-shadow: none;
    }
    .panel-default {
        border: none;
    }   
    .panel-heading {
        border: none !important;
        background: none !important;
        padding: @padding*2 0 0;
        h2 {
            font-weight: bold;
            font-size: @font-size+1.5;
        }
        h2>span {
            font-weight: normal;
            font-size: @font-size+1.5;
        }
    }
    .crossedbg {
        background: url(../images/bg_cr_grey.png);
        height: 1.5rem;
    }
    /*------------------END GENERAL--------------------*/

    /*------------------TOP EVENTS TIMELINE--------------------*/
    .bodytimeline {
        padding: 0;
        background: none;
    }
    .timeline {
        list-style: none;
        padding: @padding*2 0 @padding*2;
        position: relative;
        .timeline-left,
        .timeline-right{
            position: relative;
            .timeline-panel {
                /*        width: 46%;*/
                float: left;
                position: relative;
            }
            .timeline-panel:before {
                position: absolute;
                top: 2.7rem;
                right: -1.5rem;
                display: inline-block;
                border-top: 0.1rem solid @color_border_gray;
                content: " ";
                width: 100%;
            }
        }
        .timeline-left,
        .timeline-right:after {
            clear: both;
        }
        .timeline-left,
        .timeline-right:before,
            .timeline-left,
            .timeline-right:after {
            content: " ";
            display: table;
        }
        .timeline-badge {
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            top: 1.9rem;
            margin-left: -1rem;
            background-color: #fff;
            border: 0.2rem solid @color_border_gray;
            border-radius: 50%;
            z-index: 5;
        }
        .eventtime {
            width: 5.6rem;
            height: 5.6rem;
            background: #f5ce31;
            border-radius: 50%;
            position: relative;
            color: #4e4e4e;
            float: left;
            .eventtimecover {
                position: absolute;
                top: 0.9rem;
                left: 1rem;
            }
            .eventdm {
                float: left;
            }
            .eventday {
                font-weight: bold;
                font-size: @font-size*2;
                border-bottom: 0.1rem #4e4e4e solid;
                line-height: 1.8rem;
            }
            .eventmonth {
                text-align: center;
            }
            .eventyear {
                float: left;
                margin-top: 1.4rem;
            }
        }
        .eventdetails {
            margin-right: -0.5rem;
            float: right;
            width: 59%;
            margin-top: 0.7rem;
            .eventlocation {
                font-family: 'Open Sans Condensed', sans-serif;
                font-weight: bold;
            }
            .eventdesc {
                margin-top: 1.5rem;
            }
            .eventdesc :hover {
                text-decoration: none;
            }

        }
        .timeline-right{
            .timeline-panel{
                float: right;
            }
            .eventtime{
                float: right;
            }
            .timeline-panel:before {
                position: absolute;
                top: 27px;
                right: 0.5rem;
                display: inline-block;
                border-top: 0.1rem solid @color_border_gray;
                content: " ";
                width: 100%;
            }
        }
    }
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 0.2rem;
        background-color: @color_border_gray;
        left: 50%;
        margin-left: -0.15rem;
    }
    /*------------------/END TOP EVENTS TIMELINE--------------------*/
    /*--------Reponsive--------*/
    @media (min-width: 768px){
        .event{
            width: 960px;
        }
        .timeline-badge{
            left: 50%;
        }
        .timeline-panel {
            width: 46%;
        }
        .timeline{
            margin: 0;
        }
    }
    @media (max-width: 767px) {
        .timeline{
            margin-right: 5rem;
            .eventtime {
                float: right;
            }
            .eventdetails {
                text-align: left;
                float: left;
            }
            timeline-left,
            timeline-right {
                margin-bottom: 1.5rem;
            }
        }
        .timeline-panel {
            width: 100%;
            left: 2rem;
            padding-left: @padding*4;
        }
        timeline:before {
            left: 2rem;
        }
        .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 1.5rem;
            left: 1rem;
            right: auto;
        }
        .panel-default{
            padding: 0 @padding+0.5;
        }
    }
    @media (max-width: 480px){
        .panel-default{
            padding: 0;
        }
    }
}
