.type-160 .panel-default {
  border: none;
}
.type-160 .panel-default .panel-heading {
  color: #333;
  border-color: #ddd;
  border: none !important;
  background: none !important;
  padding: 20px 0 0;
}
.type-160 .panel-default .panel-heading h2 {
  font-weight: bold;
  font-size: 1.8em;
}
.type-160 .panel-default .panel-heading span {
  font-weight: normal;
  font-size: 1em;
}
.type-160 .panel-default .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 15px;
}
.type-160 .panel-default .panel-body {
  background: ;
}
.type-160 .panel-default .panel-body strong {
  font-weight: 700;
}
.type-160 .panel {
  background: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  .type-160 .bio {
    width: 960px;
    padding: 20;
  }
}
