.type-142 {
  background: url(../images/bg_pattern.png) repeat;
  font-family: 'Open Sans', sans-serif;
}
.type-142 a:hover,
.type-142 a:focus {
  color: #2a6496;
  transition: all 0.5s ease;
  text-decoration: none;
}
.type-142 .panel {
  background: none;
  box-shadow: none;
}
.type-142 .panel-default {
  border: none;
}
.type-142 .panel-heading {
  border: none !important;
  background: none !important;
  padding: 2rem 0 0;
}
.type-142 .panel-heading h2 {
  font-weight: bold;
  font-size: 2.5rem;
}
.type-142 .panel-heading h2 span {
  font-weight: normal;
  font-size: 2.5rem;
}
.type-142 .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 1.5rem;
}
.type-142 .panel-body {
  background: #fff;
}
.type-142 .list-group {
  list-style: disc;
  margin-bottom: 0;
}
.type-142 .list-group-item {
  border: none;
  border-bottom: 0.1rem #d9d9d9 solid;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5rem;
}
.type-142 .list-group-item:first-child {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.type-142 .list-group-item:before {
  font-family: Arial, Helvetica, sans-serif;
  color: #f5ce31;
  content: "\2022";
  font-size: 2.5rem;
  padding-right: 1rem;
  position: relative;
  top: 0.5rem;
}
.type-142 .list-group-item:last-child {
  border: none;
}
.type-142 .toparticle > .thumb img {
  max-width: 100%;
}
.type-142 .toparticle > .thumb img:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}
.type-142 .toparticle {
  margin-top: 2.5rem;
}
.type-142 .toparticle h4 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media (min-width: 992px) {
  .type-142 .sidebar {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .type-142 .sidebar {
    width: 96rem;
  }
}
@media (max-width: 480px) {
  .type-142 .sidebar {
    padding: 0;
  }
}
