.type-140 {
    @color_hover: #2a6496;
    @color_hover_readmore: #003b7a;
    background: url(../images/bg_pattern.png) repeat;
    font-family: 'Open Sans', sans-serif;
    @font-size:2.5rem;
    a:hover, a:focus {
        color: @color_hover;
        text-decoration: underline;
    }
    /*------------------GENERAL--------------------*/
    .panel {
        background: none;
        box-shadow: none;
        img {
            max-width: 100%;
        }
        img:hover{
            opacity: 0.8;
            transition: all 0.5s ease;
        }
    }
    .panel-default {
        border: none;
    }   
    .panel-heading {
        border: none !important;
        background: none !important;
        padding: 2rem 0 0;
        h2 {
            font-weight: bold;
            font-size: @font-size;
        }
        h2>span {
            font-weight: normal;
            font-size: @font-size - 0.5;
        }
    }
    .crossedbg {
        background: url(../images/bg_cr_grey.png);
        height: 1.5rem;
    }
    /*------------------END GENERAL--------------------*/

    .panel-body {
        background: #fff;
        a:hover{
            color: @color_hover_readmore;
            transition: all 0.5s ease;
            text-decoration: none;
        }
    }
    /*-------------REPONSIVE--------------*/
    @media (min-width: 992px){
        .content{
            padding: 0;
        }
    }
    @media (min-width: 768px){
        .content{
            width: 96rem;
        }
    }
    @media (max-width: 480px){
        .content{
            padding: 0;
        }
    }
}
