.type-136 {
    background: url(../images/bg_pattern.png) repeat;
    font-family: 'Open Sans', sans-serif;
    @margin:1.5rem;
    @md-992: 992px;
    @sm-768: 768px;
    @xs-480: 480px;
    .padding{
        padding:0;
    }
    .img{
        margin-top: @margin * 2;
        margin-bottom: @margin * 2;
        a {
            position: relative;
            display: inline-block;

            /* Sử dụng mặt nạ là chính bức ảnh .png để che đi những phần không muốn hiển thị: */
            -webkit-mask: url(../images/tuyensinh.jpg) center center;
            border-radius: 50%;
            img{
                max-width: 100%;
                width: 100%;
                border-radius: 50%;
            }
            &:after{
                content: '';
                position: absolute;
                pointer-events: none;
                top: -110%;
                left: -210%;
                width: 150%;
                height: 150%;
                opacity: 0;
                background: linear-gradient(
                    to right, 
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 77%,
                    rgba(255, 255, 255, 0.5) 92%,
                    rgba(255, 255, 255, 0.0) 100%
                    );
            }
            &:hover:after{
                opacity: 1;
                top: -20%;
                left: -30%;
                transition-property: left, top, opacity;
                transition-duration: .8s, .8s, .15s;
                transition-timing-function: ease;
            }
        }
    }

    /*------REPONSIVE---------*/
    @media (min-width: @md-992){
        .sidebar{
            .padding;
        }

    }
    @media (min-width: @sm-768){
        .sidebar{
            width: 96rem;
        }
    }
    @media only screen and (min-width: @xs-480) and (max-width: @md-992){
        .sidebar{
            .padding;
        }
        .img{
            width: calc(100% - 50rem);
        }
    }
    @media (max-width: @xs-480){
        .sidebar{
            .padding;
        }
    }
}
