.type-136 {
    background: url(../images/bg_pattern.png) repeat;
    font-family: 'Open Sans', sans-serif;
    @margin:3rem;
    .padding{
        padding:0;
    }
    .img{
        margin-top: @margin;
        margin-bottom: @margin;
        a {
            position: relative;
            display: inline-block;

            /* Sử dụng mặt nạ là chính bức ảnh .png để che đi những phần không muốn hiển thị: */
            -webkit-mask: url(../images/tuyensinh.jpg) center center;
            border-radius: 50%;
            mask: url('#mask-firefox');
            img{
                max-width: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
        a:after{
            content: '';
            position: absolute;
            pointer-events: none;
            top: -110%;
            left: -210%;
            width: 200%;
            height: 200%;
            opacity: 0;
            background: linear-gradient(
                to right, 
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
                );
        }
        a:hover:after{
            opacity: 1;
            top: -30%;
            left: -30%;
            transition-property: left, top, opacity;
            transition-duration: 1s, 1s, .15s;
            transition-timing-function: ease;
        }

    }

    /*------REPONSIVE---------*/
    @media (min-width: 992px){
        .sidebar{
            .padding;
        }

    }
    @media (min-width: 768px){
        .sidebar{
            width: 96rem;
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 996px){
        .sidebar{
            .padding;
        }
        .img a img {
            width: 50%;
        }
    }
    @media (max-width: 480px){
        .sidebar{
            .padding;
        }
    }
}
