.type-177 {
  background: #003b7a;
  color: #fff;
  padding: 30px 0;
}
.type-177 h4 {
  font-size: 1.1em;
  font-weight: bold;
}
.type-177 .bottom-link {
  list-style: none;
  padding-left: 0px;
}
.type-177 .bottom-link .info {
  list-style: none;
  padding: 0 10px;
}
.type-177 .bottom-link li {
  border-bottom: 1px dotted #0060c5;
  padding: 15px 0;
}
.type-177 a {
  color: #fff;
}
.type-177 a:hover {
  color: #f5ce31 !important;
  text-decoration: none;
  transition: all 0.5s ease;
}
.type-177 .footerinfo a {
  color: lightslategrey;
}
.type-177 .footerinfo a:hover {
  color: #f5ce31 !important;
  text-decoration: none;
  transition: all 0.5s ease;
}
