@import "../../var/var.less";
.type-151{
    .news{width: 960px; padding: 0}
    .panel-heading {
        padding: 20px 0 0;
        h2 {
            font-weight: bold;
            font-size: 1.8em;
            span {
                font-weight: normal;
                font-size: 1em;
            }
        }
    }
    a{
        color:lightslategrey;
        &:hover{
            color: @color_Cylindrical_coordinate !important;
            text-decoration: none;
            transition: all 0.5s ease;
        }
    }
    .mask{
        position: relative;
        display: inline-block;
        -webkit-mask: url(../images/posts-4.png) center;

        mask: url('#mask-firefox');
    }
    .mask:hover:after,
        .mask:focus{
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 1s, 1s, .15s;
        transition-timing-function: ease;
    }
    .mask:active:after {
        opacity: 0;
    }
    .mask:after {
        content: '';
        position: absolute;
        pointer-events: none;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
    }
    .shine:after {
        transform: rotate(30deg);
    }
    .shine:after {
        background: linear-gradient(
            to right, 
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
            );			
    }

    .hover-fill {
        font-weight: bold;
        position: relative;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        color: lightslategrey;
        transition: all .3s;



        &:after {
            max-width: 100%;
        }


        &:after {
            content: attr(data-txthover);
            position: absolute;
            top: 0;
            left: 0;
            max-width: 0; 
            color: red;
            white-space: nowrap;
            overflow: hidden;
            transition: max-width .3s ease-out;
        }
    }

    .crossedbg{
        background: url(../images/bg_cr_grey.png);
        height: 15px;
    }
    .top_news_block{
        margin-bottom: 15px;
        background: @color_white;
        img{    
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
        .top_news_block_desc {
            font-size: 0.9em;
            padding: 15px;
            h4 {              
                text-transform: uppercase;
                font:  @font-size-article-title;

            }
            .topnewstime {
                margin-top: 12px;
                text-align: center;
                padding-left: 0;
                .topnewsdate {
                    font-family: 'Prata', serif;
                    font-size: 3.1em;
                    line-height: 1em;
                    margin-left: 15px;
                }   
                .topnewsmonth {
                    text-transform: uppercase;
                    font-size: 0.9em;
                    margin-left: 15px;
                }
            }
            .shortdesc {
                border-left: 1px solid #666;
            }
            .topnewsmonth, p{
                color: #333;
                text-align: justify;
            }
        }

        .thumb:hover{
            opacity: 0.8;

        }
    }
    .pagination-centered {
        text-align: center;
    }
    /*----Reponsive----*/
    @media (max-width: 1200px){
        .top_news_block {
            margin-top: 0;
        }
    }
    @media (max-width: 480px){
        .news{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: 992px){
        .row {
            margin-left: -15px !important;
            margin-right: -15px !important;
        }
    }
    @media (max-width: 768px){
        .news{width: auto;}
    }

}
