.type-163 .panel {
  background: none;
  box-shadow: none;
}
.type-163 .panel-default {
  border: none;
}
.type-163 .panel-heading {
  border: none !important;
  background: none !important;
  padding: 20px 0 0;
}
.type-163 .panel-heading h2 {
  font-weight: bold;
  font-size: 1.8em;
}
.type-163 .panel-heading h2>span {
  font-weight: normal;
  font-size: 1em;
}
.type-163 .crossedbg {
  background: url(../images/bg_cr_grey.png);
  height: 15px;
}
.type-163 .panel-body {
  background: #fff;
}
.type-163 address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.type-163 .itdcadd {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.type-163 .itdcadd li {
  margin: 10px 0;
}
.type-163 .Date-Time {
  padding-left: 5px;
}
.type-163 .Date-time-Secondline {
  padding-left: 32px;
}
.type-163 #map-canvas {
  height: 450px;
}
@media (min-width: 992px) {
  .type-163 .address {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .type-163 .address {
    width: 960px;
  }
}
@media (max-width: 480px) {
  .type-163 .address {
    padding: 0;
  }
}
